<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
    <th:block th:insert="fragments/general.html :: css"></th:block>
</head>
<body>
<h1 th:text="'List of Owners'">List of owners...</h1>

<table class="table">
    <thead class="table-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <th th:text="${owner?.getId()}" scope="row"></th>
        <td th:text="${owner?.getFirstName()}"></td>
        <td th:text="${owner?.getLastName()}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>